body {
  background: #fafafa;
}
.greeting {
  height: 140px;
  padding-top: 35px;

}

.greeting h2, 
.greeting h4 {
  text-align: center;
}

.navbar,
.navbar-header,
.ghost-nav {
  background: #404040;
  height: 56px;
  border: none;
}

.navbar-nav {
  margin-top: 0px;
}

#collapsed1 li {
  z-index: 1;
  background: #404040;
}

.navbar-default .navbar-nav>li>a {
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  color: #aaa;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fafafa;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
  transition: none !important;
  background: #505050;
  color: #fafafa;
}

#hamburger {
  border: none;
  background: none;
  font-size: 1.5em;
  margin: 13px 20px 0px 0px;
  padding: 0;
}

.fa-bars {
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  color: #aaa;
}

.fa-bars:hover { 
  color: #fafafa;
}

.navbar-name {
  position: relative;
  top: 10px;
  opacity: 0;
  color: #ddd;
}

.ghost-nav {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.thumbnail {
   -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  margin: 25px 5px;
  max-width: 630px;
}

.thumbnail img {
  opacity: 1;
  transition: opacity 0.3s ease-out;
  width: 100%;
  margin: 0px;
}

.thumbnail img:hover {
  opacity: .7;
}

.caption {
  text-align: center;
}

.about-section {
  position: relative;
  opacity: 1;
  top: 0px;
  padding: 10px 40px 40px 30px;
}

.port-footer {
  background: #404040;
  min-height: 130px;
}

.contact-box {
  text-align: center;
}

.email {
  color: #fafafa;
  padding-top: 50px;
}

.copyright {
  color: #aaa;
  line-height: .5em;
}

.social-media {
  width: 192px;
  display: block;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 10px;
}

.soc-btn {
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #fafafa;
  text-align: center;
  float: left;
  margin: 4px;
}

.soc-btn a {
  color: #404040;
}

.soc-btn:hover {
  text-decoration: none;
  background: #aaa;
}
  
}

.soc-btn a:hover { 
  color: #333;
}

.soc-btn i {
  font-size: 1.8em;
  margin-top: 8px;
}


@media (min-width: 768px){
  #collapsed1 li {
    background: none;
  }
  
  .about-section {
    margin: 10px 5px 40px 40px;
  }
}
